[Unit]
Description=node simple server

[Service]
ExecStart=/root/n/bin/node /root/lib/fast-deploy/node_modules/.bin/egg-scripts start --daemon --title=egg-server-fast-deploy --port 8585
ExecStop=/root/n/bin/node /root/lib/fast-deploy/node_modules/.bin/egg-scripts stop --title=egg-server-fast-deploy
User=root
Group=root
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/root/lib/fast-deploy

[Install]
WantedBy=multi-user.target