[Unit]
Description=aria2
After=network.target remote-fs.target nss-lookup.target

[Service]
User=http
Group=http

Type=simple
ExecStart=/usr/bin/aria2c --conf-path=/etc/aria2/aria2.conf -D
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID

# Restart=on-failure
# PrivateTmp=false

[Install]
WantedBy=multi-user.target
